body {
  margin: 0;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Reem Kufi", sans-serif;
}

.modalBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #dadce1;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 60%;
  border: 1px solid #ccc;
  background: #69779b;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  font-size: 1.1rem;
}

:global .ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
}

:global .ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 500ms ease-out;
}

:global .ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
  margin: 0;
}

:global .ReactModal__Overlay--before-close {
  opacity: 0;
}

:global .ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

@media (max-width: 1024px) {
  .modalBox {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.cornerBtn {
  background-color: #d7eaea;
  box-shadow: 0px 10px 14px -7px #d7eaea;
  border-radius: 4px;
  border: 2px solid #d7eaea;
  color: rgb(66, 66, 66);
  font-size: 15px;
  font-weight: bold;
  margin: auto;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
