html {
	height: 100%;
}

body {
	min-height: 100%;
}

.AppStyle {
	text-align: center;
	min-height: 100vh;
}

.header {
	position: sticky;
	width: 100%;
	top: 0px;
	height: 100px;
	background-color: #ed6663;
	overflow: hidden;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo > img {
	display: flex;
	height: 100px;
	margin: 15px 15px;
}
.title {
	font: 1rem helvetica;
	font-weight: 600;
	font-style: italic;
}
.login {
	display: flex;
	margin: 15px 15px;
	border-radius: 10px;
	padding: 5px 5px;
}

.dropdown {
	position: fixed;
	width: 100%;
	top: 100px;
	/* bottom: 0px; */
	
}

.content {
	overflow-y: scroll;
	height: 100%;
}
