.resetBtn {
  position: fixed;
  top: 250px;
  left: 1.2%;
  background-color: #d7eaea;
  box-shadow: 0px 10px 14px -7px #d7eaea;
  border-radius: 8px;
  border: 2px solid #d7eaea;
  /* display:inline-block; */
  cursor: pointer;
  color: rgb(66, 66, 66);
  font-family: "Reem Kufi", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #acdbdf;
  outline: none;
}

.resetBtn:hover {
  background: linear-gradient(to bottom, #acdbdf 5%, #d7eaea 100%);
  background-color: #acdbdf;
}

.resetBtnHidden {
  display: none;
  visibility: hidden;
}

.goToTop {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 0.5em 0.9em 0;
  border-radius: 50%;
  color: #69779b;
  font-size: 50px;
}
.goToTop:hover {
  background: #69779b;
  color: #dadce1;
}

.feedTitle {
  font-size: 14px;
  font-family: "Reem Kufi", sans-serif;
  font-weight: 300;
  margin-top: 60px;
  color: #69779b;
  margin-bottom: -60px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.feedTitle span {
  background-color: #dadce1;
  width: 30%;
  margin-left: 450px;
  border-radius: 6px;
}
