.resetBtn {
  position: fixed;
  top: 250px;
  left: 1.2%;
  background-color: #d7eaea;
  box-shadow: 0px 10px 14px -7px #d7eaea;
  border-radius: 8px;
  border: 2px solid #d7eaea;
  /* display:inline-block; */
  cursor: pointer;
  color: rgb(66, 66, 66);
  font-family: "Reem Kufi", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #acdbdf;
  outline: none;
}

.resetBtn:hover {
  background: linear-gradient(to bottom, #acdbdf 5%, #d7eaea 100%);
  background-color: #acdbdf;
}

.resetBtnHidden {
  display: none;
  visibility: hidden;
}
