.Test {

    font-weight: bold;
    color: rgb(190, 29, 8);


  }

  .flipcard {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flipcardinner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flipcard:hover .flipcardinner {
    transform: rotateY(180deg);
  }
  
  .flipcardfront, .flipcardback {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flipcardfront {
    background-color: #bbb;
    color: black;
  }
  
  .flipcardback {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }