
/* font-family: 'Biryani', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Heebo', sans-serif;     TITLE
font-family: 'Nunito Sans', sans-serif; TEXT
font-family: 'Overpass', sans-serif;
font-family: 'Proza Libre', sans-serif; LOGO
font-family: 'Reem Kufi', sans-serif;
font-family: 'Rokkitt', serif;         TEXT?
font-family: 'Sorts Mill Goudy', serif; */

.Title1 {
  font-family: "Proza Libre", sans-serif;
  color: rgb(54, 53, 53);
  font-size: 25px;
  min-width: 100%;
  min-height: 100%;
}

.containLogo {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.BackgroundImg {
  /* border: 10px solid black; */
  display: block;
  margin: auto;
  background: url("../ImagesLogo/Background2.jpg") no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.AppLogo {
  display: block;
  margin: auto;
  padding-top: 350px;
  min-width: 100%;
  min-height: 100%;
  pointer-events: none;
  background: url("../../assets/LogoLand.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px 500px;
}
