
.profilebtn {
  
  margin-left: -10px;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("./avatar.PNG"); */
  background-position: center;
  box-shadow: 2px 2px 5px gray;
  border-radius: 100%;
  outline: none;
  
}

