.profilebtn {
  margin-left: -15px;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 5px gray;
  border-radius: 100%;
  outline: none;
}




.name {
  margin-top: 0;
}

.tickBoxValidated {
  color: rgb(46, 170, 30);
  font-size: 40px;
  margin-top: -10px;
}


.tickBox {
  font-size: 40px;
  margin-top: -10px;
}






