/* #4E89AE (LIGHT BLUE)
#43658B (DARK BLUE)
#ED6663 (CORAL)
#FFA372 (ORANGE) */

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.AppStyle {
  text-align: center;
  min-height: 100vh;
}

.header {
  position: sticky;
  width: 100%;
  top: 0px;
  height: 100px;
  background-color: #69779b;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  z-index: 300;
}

.logo > img {
  display: flex;
  height: 160px;
  margin-top: -15px;
  align-items: center;
  float: left;
}
.title {
  font-family: "Reem Kufi", sans-serif;
  font-size: 25px;
  align-items: flex-start;
  margin-top: -10px;
  margin-left: 20px;
  color: #dadce1;
}

.login {
  width: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  margin: 15px 15px;
  border-radius: 10px;
  align-items: flex-start;
  /* padding: 5px 5px; */
}

/* .dropdown {
	position: fixed; 
	width: 100%;
	top: 100px; 
	bottom: 0px;
} */

.content {
  overflow-y: scroll;
  height: 100%;
}
