/* #4E89AE (LIGHT BLUE)
#43658B (DARK BLUE)
#ED6663 (CORAL)
#FFA372 (ORANGE) */

html, body {
  height: 100%;
  margin: 0;
}

.AppStyle {
  text-align: center;
  min-height: 100%;
}

/* body {
  min-height: 100%;
  padding-bottom: 70px;
} */
.wrapper {
  /* text-align: center; */
  min-height: 100%;
  margin-bottom: -30px;
}

.logoBtn {
  background: transparent;
  border: none;
  align-items: flex-start;
  margin-top: 27px;
  margin-left: -15px;
  color: #dadce1;
  outline: none;
  cursor: pointer;
}

.logoBtn:hover {
  filter: brightness(1.1);
}

.footer {
  /* position: sticky; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  bottom: 0px;
  height: 30px;
  background-color: #69779b;
  color: #dadce1;
  font-family: "Reem Kufi", sans-serif;
  font-size: 20px;
  margin-right: 20px;
  z-index: 9999;
}
.push{
  height:50px;
}

.copyright {
  margin-right: 30px;
}

.header {
  position: sticky;
  width: 100%;
  top: 0px;
  height: 90px;
  background-color: #69779b;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  z-index: 300;
}
.leftHeader {
  display: flex;
  flex-direction: row;
}
.logo > img {
  display: flex;
  height: 160px;
  margin-top: -20px;
  align-items: center;
  float: left;
}
.title {
  font-family: "Reem Kufi", sans-serif;
  font-size: 50px;
  align-items: flex-start;
  margin-top: 0px;
  margin-left: -10px;
  color: #dadce1;
}
.titleBtn {
  background-color: transparent;
  border: none;
  outline: none;
}

.login {
  width: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  margin: 15px 15px;
  border-radius: 10px;
  align-items: flex-start;
  /* padding: 5px 5px; */
}

.dropdown {
  position: relative;
}

/* .content {
  overflow-y: scroll;
  height: 100%;
} */
