.navItem {
  width: calc(10px * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
}

/* Icon Button */
.iconButton {
  width: calc(40px * 0.5);
  height: calc(40px * 0.5);
  background-color: #9692af;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.iconButton:hover {
  filter: brightness(1.4);
}

a {
  color: white;
  text-decoration: none;
}

.iconButton svg {
  fill: white;
  width: 20px;
  height: 20px;
}
