.myClassroom {
  font-family: "Reem Kufi", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.listElement {
  width: 70px;
  height: 150px;
  margin: 15px 15px;
  border: 1px solid;
  padding: 25px;
  box-shadow: 2px 2px 5px 2px #69779b;
  border-radius: 15px 50px;
  border-color: rgb(207, 203, 203);
}

.listElement:hover {
  box-shadow: 2px 2px 5px #acdbdf;
}

.listElementDisabled {
  background-color: lightgrey;
  width: 70px;
  height: 150px;
  margin: 15px 15px;
  border: 1px solid;
  padding: 25px;
  box-shadow: 2px 2px 5px 2px #69779b;
  border-radius: 15px 50px;
  border-color: rgb(207, 203, 203);
}

.pageTitle {
  margin-top: 80px;
  font-family: "Reem Kufi", sans-serif;
  font-size: 30px;
}

@media only screen and (max-width: 1024px) {
  .listElement {
    text-align: center;
    width: 30px;
    height: 100px;
    margin: 15px 15px;
    border: 1px solid;
    padding: 25px;
    box-shadow: 2px 2px 5px 2px #69779b;
    border-radius: 15px 50px;
    border-color: rgb(207, 203, 203);
  }

  .listElementDisabled {
    background-color: lightgrey;
    width: 30px;
    height: 100px;
    margin: 15px 15px;
    border: 1px solid;
    padding: 25px;
    box-shadow: 2px 2px 5px 2px #69779b;
    border-radius: 15px 50px;
    border-color: rgb(207, 203, 203);
  }

  .myClassroom {
    width: 90%;
  }
}
