.Test {
  font-weight: bold;
  color: rgb(190, 29, 8);
}

/* .profilebtn:hover {
    background: rgb(245, 251, 253);
   
  } */

.myClassroom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* grid-template-columns: 50% 50%;
    grid-column-gap: 1em; */
}

.studentList {
  
  width: 80px;
  height: 170px;
  margin: 15px 15px;
  border: 1px solid;
  padding: 25px;
  box-shadow: 2px 2px 5px 2px gray;
  border-radius: 15px 50px;
  border-color: rgb(207, 203, 203);
}

.studentList:hover {
  box-shadow: 2px 2px 5px #ed6663;
}


