/* .profilebtn:hover {
    background: rgb(245, 251, 253);
   
  } */

.childContain {
  border: 2px solid red;
}

.myClassroom {
  font-family: "Reem Kufi", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
  /* grid-template-columns: 50% 50%;
    grid-column-gap: 1em; */
}

.studentList {
  width: 70px;
  height: 150px;
  margin: 15px 15px;
  border: 1px solid;
  padding: 25px;
  box-shadow: 2px 2px 5px 2px #69779b;
  border-radius: 15px 50px;
  border-color: rgb(207, 203, 203);
}

.studentList:hover {
  box-shadow: 2px 2px 5px #acdbdf;
}

.goBack {
  position: fixed;
  top: 165px;
  left: 20px;
  background-color: #d7eaea;
  box-shadow: 0px 10px 14px -7px #d7eaea;
  border-radius: 8px;
  border: 2px solid #d7eaea;
  /* display:inline-block; */
  cursor: pointer;
  color: rgb(66, 66, 66);
  font-family: "Reem Kufi", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #acdbdf;
}

.goBack:hover {
  background: linear-gradient(to bottom, #acdbdf 5%, #d7eaea 100%);
  background-color: #acdbdf;
}

.pageTitle {
  margin-top: 60px;
  font-family: "Reem Kufi", sans-serif;
  font-size: 30px;
}
