/* #4E89AE (LIGHT BLUE)
#43658B (DARK BLUE)
#ED6663 (CORAL)
#FFA372 (ORANGE) */
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: #dadce1;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Reem Kufi", sans-serif;
}

.button1 {
  background-color: #dadce1;
  color: black;
  border: 2px solid #008cba;
  font-family: "Reem Kufi", sans-serif;
}

.button1:hover {
  background-color: #008cba;
  color: #dadce1;
  font-family: "Reem Kufi", sans-serif;
}

.authbtn {
  background-color: #d7eaea;
  box-shadow: 0px 10px 14px -7px #d7eaea;
  border-radius: 8px;
  border: 2px solid #d7eaea;
  /* display:inline-block; */
  cursor: pointer;
  color: rgb(66, 66, 66);
  font-size: 15px;
  font-weight: bold;
  padding: 3px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #acdbdf;
  font-family: "Reem Kufi", sans-serif;
  margin-bottom: -10px;
}
.authbtn:hover {
  background: linear-gradient(to bottom, #acdbdf 5%, #d7eaea 100%);
  background-color: #acdbdf;
}
/* .authbtn:active {
  position:relative;
	top:1px;} */

.authLogin {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  margin-right: 30px;
  color: #dadce1;
  font-family: "Reem Kufi", sans-serif;
}
