.myCanvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.tools {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 45px;
}

.tools .color-field {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid black;
  align-self: center;
  margin: 0 10px;
}

.color-field {
  margin-bottom: 100px;
}

.tools .button {
  align-self: center;
  width: 80px;
  height: 35px;
  margin: 0 10px;
  cursor: pointer;
  color: rgb(66, 66, 66);
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #acdbdf;
  background-color: #d7eaea;
  box-shadow: 0px 10px 14px -7px #d7eaea;
  border-radius: 8px;
  border: 2px solid #d7eaea;
}

.button:hover {
  background: linear-gradient(to bottom, #acdbdf 5%, #d7eaea 100%);
  background-color: #acdbdf;
}

.color-picker {
  align-self: center;
  margin: 10px 10px;
  height: 50px;
  cursor: pointer;
}
