.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-self: center;
  margin: 75px auto;
}

.image {
  border-radius: 4px;
  align-self: stretch;
  width: 100%;
}

.button {
  border-radius: 4px;
  align-self: stretch;
  width: 100%;
  border: 1px solid #69779b;
}

.textbox {
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 4px;
  color: #69779b;
  /* align-self: stretch; */
  font-family: "Reem Kufi", sans-serif;
}

.dateSet {
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 4px;
  color: #69779b;
  align-self: center;
  font-family: "Reem Kufi", sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.dateSet span {
  background-color: #dadce1;
  padding: 0px 20px 60px 0px;
  border-radius: 4px;
  width: 150%;
}

.textbox2 {
  font-size: 1.2rem;
  font-weight: 300;
  border: 1px solid #69779b;
  padding: 0.5rem;
  border-radius: 4px;
  color: #69779b;
  align-self: stretch;
  font-family: "Reem Kufi", sans-serif;
}

/* background-color: #dadce1; */
