.myButton {
  cursor: pointer;
  color: #dadce1;
  font-family: "Reem Kufi", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 18px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9692af;
  background-color: #69779b;
  box-shadow: 0px 10px 14px -7px #69779b;
  border-radius: 8px;
  border: 2px solid #69779b;
  margin: 20px;
}

.myButton:hover {
  background: linear-gradient(to bottom, #9692af 5%, #69779b 100%);
  background-color: #9692af;
}

.backButton {
  position: fixed;
  top: 165px;
  left: 20px;
  background-color: #d7eaea;
  box-shadow: 0px 10px 14px -7px #d7eaea;
  border-radius: 8px;
  border: 2px solid #d7eaea;
  /* display:inline-block; */
  cursor: pointer;
  color: rgb(66, 66, 66);
  font-family: "Reem Kufi", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #acdbdf;
}

.backButton:hover {
  background: linear-gradient(to bottom, #acdbdf 5%, #d7eaea 100%);
  background-color: #acdbdf;
}

.myCanvas {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 2px solid #69779b;
  border-radius: 4px;
}

/* .containCanvas {
  z-index: -1;
} */

.tools {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.tools .colorField {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid black;
  align-self: center;
  margin: 0 10px;
}

.colorField {
  margin-bottom: 100px;
}

.tools .button {
  align-self: center;
  width: 80px;
  height: 35px;
  margin: 0 10px;
  cursor: pointer;
  color: rgb(66, 66, 66);
  font-family: "Reem Kufi", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #acdbdf;
  background-color: #d7eaea;
  box-shadow: 0px 10px 14px -7px #d7eaea;
  border-radius: 8px;
  border: 2px solid #d7eaea;
}

.button:hover {
  background: linear-gradient(to bottom, #acdbdf 5%, #d7eaea 100%);
  background-color: #acdbdf;
}

.colorPicker {
  align-self: center;
  margin: 10px 10px;
  height: 50px;
  cursor: pointer;
}

.contain {
  font-family: "Reem Kufi", sans-serif;
  font-size: 1.2rem;
}

.childName {
  text-decoration: underline;
  
}

.resizePic img {
  margin-top: 0px;
  width: 30%;
  height: auto;
  justify-content: center;
}

.avatarContain {
  width: 30%;
  font-family: "Reem Kufi", sans-serif;
  font-size: 1.3rem;
  margin-left: 50px;
  margin-top: 50px;
}

.allOfViewer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.canvasAndColors {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}